.home-main-div{
    position: relative;
    color: whitesmoke;
    /* border: 1px solid red; */
    width: 100vw;
    height: 100vh;
    display: grid ;
    place-items: center;
    background-image: url('../../assets/backgroung/hm-bgi.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;

}
